In [1]:
# 1.Handling Missing Values:


import pandas as pd
import numpy as np

# Sample dataset with missing values
data = {
    'A': [1, 2, np.nan, 4, 5],
    'B': [np.nan, 1, 2, np.nan, 4],
    'C': [5, 6, 7, 8, 9]
}

# Create a DataFrame
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

# Method 1: Fill missing values using mean imputation
df_mean_imputed = df.copy()
df_mean_imputed['A'] = df_mean_imputed['A'].fillna(df_mean_imputed['A'].mean())
df_mean_imputed['B'] = df_mean_imputed['B'].fillna(df_mean_imputed['B'].mean())

print("\nDataFrame after Mean Imputation:")
print(df_mean_imputed)

# Method 2: Fill missing values using forward fill
df_forward_filled = df.copy()
df_forward_filled = df_forward_filled.fillna(method='ffill')

print("\nDataFrame after Forward Fill:")
print(df_forward_filled)

# Method 3: Fill missing values using backward fill
df_backward_filled = df.copy()
df_backward_filled = df_backward_filled.fillna(method='bfill')

print("\nDataFrame after Backward Fill:")
print(df_backward_filled)

Original DataFrame:
     A    B  C
0  1.0  NaN  5
1  2.0  1.0  6
2  NaN  2.0  7
3  4.0  NaN  8
4  5.0  4.0  9

DataFrame after Mean Imputation:
     A         B  C
0  1.0  2.333333  5
1  2.0  1.000000  6
2  3.0  2.000000  7
3  4.0  2.333333  8
4  5.0  4.000000  9

DataFrame after Forward Fill:
     A    B  C
0  1.0  NaN  5
1  2.0  1.0  6
2  2.0  2.0  7
3  4.0  2.0  8
4  5.0  4.0  9

DataFrame after Backward Fill:
     A    B  C
0  1.0  1.0  5
1  2.0  1.0  6
2  4.0  2.0  7
3  4.0  4.0  8
4  5.0  4.0  9

<ipython-input-1-333d3d01eacd>:30: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_forward_filled = df_forward_filled.fillna(method='ffill')
<ipython-input-1-333d3d01eacd>:37: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_backward_filled = df_backward_filled.fillna(method='bfill')

In [2]:
# 2. Data Filtering:

import pandas as pd

# Sample dataset
data = {
    'A': [1, 2, 3, 100, 5],
    'B': [10, 20, 30, 40, 50],
    'C': [15, 25, 35, 45, 55]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Filter rows: Remove outliers in column 'A' (values outside 1.5 IQR)
Q1 = df['A'].quantile(0.25)
Q3 = df['A'].quantile(0.75)
IQR = Q3 - Q1
filtered_df = df[(df['A'] >= Q1 - 1.5 * IQR) & (df['A'] <= Q3 + 1.5 * IQR)]

# Filter rows: Select data where column 'B' is within a certain range (15 to 45)
range_filtered_df = df[(df['B'] >= 15) & (df['B'] <= 45)]

# Filter columns: Select specific columns
selected_columns_df = df[['A', 'C']]

# Display filtered DataFrames
print("Filtered DataFrame (No Outliers in 'A'):\n", filtered_df)
print("\nFiltered DataFrame (Range 15 to 45 in 'B'):\n", range_filtered_df)
print("\nSelected Columns DataFrame ('A' and 'C'):\n", selected_columns_df)

Filtered DataFrame (No Outliers in 'A'):
    A   B   C
0  1  10  15
1  2  20  25
2  3  30  35
4  5  50  55

Filtered DataFrame (Range 15 to 45 in 'B'):
      A   B   C
1    2  20  25
2    3  30  35
3  100  40  45

Selected Columns DataFrame ('A' and 'C'):
      A   C
0    1  15
1    2  25
2    3  35
3  100  45
4    5  55

In [3]:
# 3. Data Aggregation

import pandas as pd

# Sample dataset
data = {
    'Category': ['A', 'B', 'A', 'B', 'A', 'C', 'C'],
    'Values': [10, 20, 15, 25, 10, 30, 40],
    'Scores': [1, 2, 3, 4, 5, 6, 7]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Group by 'Category' and compute aggregate statistics
aggregated_df = df.groupby('Category').agg({
    'Values': ['mean', 'sum', 'count'],  # Mean, Sum, and Count for 'Values'
    'Scores': ['median', 'max']         # Median and Max for 'Scores'
})

# Reset index for better readability (optional)
aggregated_df = aggregated_df.reset_index()

# Display the aggregated DataFrame
print("Aggregated DataFrame:")
print(aggregated_df)

Aggregated DataFrame:
  Category     Values           Scores
                 mean sum count median max
0        A  11.666667  35     3    3.0   5
1        B  22.500000  45     2    3.0   4
2        C  35.000000  70     2    6.5   7

In [4]:
# 4. Data Concatenation:

import pandas as pd

# Sample datasets
data1 = {
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
}
data2 = {
    'ID': [4, 5, 6],
    'Name': ['David', 'Eve', 'Frank']
}
data3 = {
    'ID': [1, 2, 3],
    'Age': [25, 30, 35]
}

# Create DataFrames
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
df3 = pd.DataFrame(data3)

# Concatenate along rows (vertical concatenation)
concat_rows = pd.concat([df1, df2], axis=0, ignore_index=True)

# Concatenate along columns (horizontal concatenation)
concat_cols = pd.concat([df1, df3], axis=1)

# Display concatenated DataFrames
print("Concatenated DataFrame (Rows):")
print(concat_rows)

print("\nConcatenated DataFrame (Columns):")
print(concat_cols)

Concatenated DataFrame (Rows):
   ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie
3   4    David
4   5      Eve
5   6    Frank

Concatenated DataFrame (Columns):
   ID     Name  ID  Age
0   1    Alice   1   25
1   2      Bob   2   30
2   3  Charlie   3   35

In [5]:
# 5. Data Reshaping

import pandas as pd

# Sample dataset in wide format
data = {
    'ID': [1, 2, 3],
    'Year_2020': [100, 200, 300],
    'Year_2021': [150, 250, 350]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Reshape wide to long format using melt
long_format = pd.melt(df, id_vars=['ID'], var_name='Year', value_name='Value')

# Sample dataset in long format
data_long = {
    'ID': [1, 1, 2, 2, 3, 3],
    'Year': ['2020', '2021', '2020', '2021', '2020', '2021'],
    'Value': [100, 150, 200, 250, 300, 350]
}

# Create a long format DataFrame
df_long = pd.DataFrame(data_long)

# Reshape long to wide format using pivot
wide_format = df_long.pivot(index='ID', columns='Year', values='Value').reset_index()

# Reshape using stack (wide to long)
stacked = df.set_index('ID').stack().reset_index(name='Value')

# Reshape using unstack (long to wide)
unstacked = stacked.set_index(['ID', 'level_1']).unstack().reset_index()

# Display reshaped DataFrames
print("Wide to Long Format (melt):")
print(long_format)

print("\nLong to Wide Format (pivot):")
print(wide_format)

print("\nStacked DataFrame (wide to long):")
print(stacked)

print("\nUnstacked DataFrame (long to wide):")
print(unstacked)

Wide to Long Format (melt):
   ID       Year  Value
0   1  Year_2020    100
1   2  Year_2020    200
2   3  Year_2020    300
3   1  Year_2021    150
4   2  Year_2021    250
5   3  Year_2021    350

Long to Wide Format (pivot):
Year  ID  2020  2021
0      1   100   150
1      2   200   250
2      3   300   350

Stacked DataFrame (wide to long):
   ID    level_1  Value
0   1  Year_2020    100
1   1  Year_2021    150
2   2  Year_2020    200
3   2  Year_2021    250
4   3  Year_2020    300
5   3  Year_2021    350

Unstacked DataFrame (long to wide):
        ID     Value
level_1    Year_2020 Year_2021
0        1       100       150
1        2       200       250
2        3       300       350

In [6]:
# 6. Data Sampling

import pandas as pd

# Sample dataset
data = {
    'ID': [1, 2, 3, 4, 5],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 35, 40, 45]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Randomly sample 3 rows
sampled_rows = df.sample(n=3, random_state=42)

# Randomly sample 50% of the rows
sampled_fraction = df.sample(frac=0.5, random_state=42)

# Randomly sample 2 columns
sampled_columns = df.sample(n=2, axis=1, random_state=42)

# Display sampled subsets
print("Randomly Sampled Rows (n=3):")
print(sampled_rows)

print("\nRandomly Sampled Fraction (50%):")
print(sampled_fraction)

print("\nRandomly Sampled Columns (n=2):")
print(sampled_columns)

Randomly Sampled Rows (n=3):
   ID     Name  Age
1   2      Bob   30
4   5      Eve   45
2   3  Charlie   35

Randomly Sampled Fraction (50%):
   ID Name  Age
1   2  Bob   30
4   5  Eve   45

Randomly Sampled Columns (n=2):
   ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie
3   4    David
4   5      Eve

In [7]:
# 7. Data Conversion:

import pandas as pd

# Sample dataset
data = {
    'Category': ['A', 'B', 'C', 'A', 'B'],
    'Value': [10, 20, 30, 40, 50]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Convert categorical column 'Category' to numerical using label encoding
df['Category_Numeric'] = df['Category'].astype('category').cat.codes

# Convert numerical column 'Value' to string
df['Value_String'] = df['Value'].astype(str)

# Convert numerical column to float
df['Value_Float'] = df['Value'].astype(float)

# Convert back numerical to categorical
df['Category_Converted_Back'] = df['Category_Numeric'].astype('category')

# Display DataFrame with conversions
print("DataFrame with Data Type Conversions:")
print(df)

DataFrame with Data Type Conversions:
  Category  Value  Category_Numeric Value_String  Value_Float  \
0        A     10                 0           10         10.0
1        B     20                 1           20         20.0
2        C     30                 2           30         30.0
3        A     40                 0           40         40.0
4        B     50                 1           50         50.0

  Category_Converted_Back
0                       0
1                       1
2                       2
3                       0
4                       1

In [10]:
# 8. Text Data Processing:

import nltk
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

# Download necessary resources for tokenization
nltk.download('punkt') # download Punkt sentence tokenizer
nltk.download('stopwords')
nltk.download('punkt_tab')

# Define the text data
text = "Hello! This is a sample text, demonstrating text preprocessing steps."

# 1. Remove punctuation
text = re.sub(r'[^\w\s]', '', text)

# 2. Convert to lowercase
text = text.lower()

# 3. Tokenize the text
tokens = word_tokenize(text)

# 4. Remove stopwords
stop_words = set(stopwords.words('english'))
cleaned_tokens = [word for word in tokens if word not in stop_words]

# Print the cleaned and tokenized text
print(cleaned_tokens)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt_tab.zip.

['hello', 'sample', 'text', 'demonstrating', 'text', 'preprocessing', 'steps']

In [11]:
# 9. Date-Time Processing

import pandas as pd

# Sample dataset with datetime column
data = {
    'Timestamp': ['2024-11-01 08:30:00', '2024-11-02 14:45:00', '2024-11-03 09:15:00'],
    'Value': [10, 20, 30]
}

# Create a DataFrame and convert 'Timestamp' to datetime
df = pd.DataFrame(data)
df['Timestamp'] = pd.to_datetime(df['Timestamp'])

# Extract date components
df['Year'] = df['Timestamp'].dt.year
df['Month'] = df['Timestamp'].dt.month
df['Day'] = df['Timestamp'].dt.day
df['Hour'] = df['Timestamp'].dt.hour
df['Minute'] = df['Timestamp'].dt.minute

# Calculate time differences (difference from the first timestamp)
df['Time_Difference'] = df['Timestamp'] - df['Timestamp'].iloc[0]

# Aggregate by day (mean value per day)
daily_aggregation = df.groupby(df['Timestamp'].dt.date)['Value'].mean()

# Display DataFrame with extracted components and time differences
print("DataFrame with Date-Time Components:")
print(df)

print("\nDaily Aggregated Values:")
print(daily_aggregation)

DataFrame with Date-Time Components:
            Timestamp  Value  Year  Month  Day  Hour  Minute Time_Difference
0 2024-11-01 08:30:00     10  2024     11    1     8      30 0 days 00:00:00
1 2024-11-02 14:45:00     20  2024     11    2    14      45 1 days 06:15:00
2 2024-11-03 09:15:00     30  2024     11    3     9      15 2 days 00:45:00

Daily Aggregated Values:
Timestamp
2024-11-01    10.0
2024-11-02    20.0
2024-11-03    30.0
Name: Value, dtype: float64

In [12]:
# 10. Data Merging:

import pandas as pd

# Sample dataset 1
data1 = {
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
}

# Sample dataset 2
data2 = {
    'ID': [2, 3, 4],
    'Age': [30, 35, 40]
}

# Create DataFrames
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Merge datasets using inner join (default)
inner_merged = pd.merge(df1, df2, on='ID')

# Merge datasets using left join
left_merged = pd.merge(df1, df2, on='ID', how='left')

# Merge datasets using right join
right_merged = pd.merge(df1, df2, on='ID', how='right')

# Merge datasets using outer join
outer_merged = pd.merge(df1, df2, on='ID', how='outer')

# Display merged DataFrames
print("Inner Join:\n", inner_merged)
print("\nLeft Join:\n", left_merged)
print("\nRight Join:\n", right_merged)
print("\nOuter Join:\n", outer_merged)

Inner Join:
    ID     Name  Age
0   2      Bob   30
1   3  Charlie   35

Left Join:
    ID     Name   Age
0   1    Alice   NaN
1   2      Bob  30.0
2   3  Charlie  35.0

Right Join:
    ID     Name  Age
0   2      Bob   30
1   3  Charlie   35
2   4      NaN   40

Outer Join:
    ID     Name   Age
0   1    Alice   NaN
1   2      Bob  30.0
2   3  Charlie  35.0
3   4      NaN  40.0