In [1]:
# importing requied library
import pandas as pd
import requests

In [2]:
# request a API
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [3]:
# creating a dataframe
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [4]:
# print upper most five movie list
temp_df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,128.416,8.7,18452
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,119.262,8.7,24382
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,78.846,8.6,11148
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,54.214,8.6,14424
4,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,29.488,8.6,4225

In [5]:
# convert above data frame to csv file 'movies.csv'
temp_df.to_csv('movies.csv')